{%load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>

        </title>
    </head>
    <body>
        <h1>Error</h1>
        <p>{{ error_message }}</p>
    </body>
</html>