{%load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% csrf_token %}
</head>

<body class="bodyresults">
    <div class="backlight">
        
    <div class="selections">
        
            <div class="section1">
                <h1 class="header">Sentiment Analysis Model</h1>
                <div style="display: flex; flex-direction: column; align-items: center;">
                <label class="inputlabel" for="inputid">Input Text:</label>
                <input class="inputbox" type="text" required name="text" id="inputid" placeholder="Input">
                Prediction Score: (0 = Negative, 1 = Positive)
                <p id="resultslabel" class="resultslabel"><span id="predictions">N/A</span></p>
            </div>
        </div>
            <div class="info">
                <p>The sentiment analysis model is developed using the BiLSTM algorithm, trained and tested on the publicly available IMDB dataset.</p>
                <p>Here is an image of the model architecture.</p>
                <img class="image" src="{% static 'bilstm.png' %}" alt="Model Architecture" width="500">
                <br>
                <p>The model is trained on the IMDB dataset, which contains 50,000 movie reviews, and achieves an accuracy of 88.5%.</p>
                
            </div>
    </div>
    


    <!------------------------------------------------------------------------------------------------------------------------------>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("#inputid").on('input', function () {
            var inputText = $(this).val();
            console.log('Input changed:', inputText);
            $.ajax({
                type: "GET",
                url: "",  // Replace with the URL of your current view
                data: {
                    'text': inputText
                },
                dataType: "json",
                success: function (data) {
                    var predictions = data.predictions;
                    $('#predictions').text(predictions);
                    // Add the "changed" class for animation
                    // Check the value of predictions and change the color to any color from red to green based on the value
                    if (predictions < 0.5) {
                        $('#resultslabel').css('color', 'red');
                    } else if (predictions < 0.75) {
                        $('#resultslabel').css('color', 'orange');
                    } else {
                        $('#resultslabel').css('color', 'green');
                    }
                    

                    $('#resultslabel').addClass('flipped');

                    // Remove the "changed" class after a delay to reset the animation
                    setTimeout(function() {
                        $('#resultslabel').removeClass('flipped');
                    }, 200);  // Adjust the delay as needed
                }
            });
        });
    });
</script>
</html>