{%load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% csrf_token %}
</head>

<body class="bodyresults">
    <div class="backlight">
    <div class="selections">
            <h1 class="header">
                Sentiment Analysis Model
            </h1>
            <form action="{% url 'result' %}" class="forms">
                    
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <label class="inputlabel" for="inputid">Input Text:</label>
                        <input class="inputbox" type="text" required name="text" id="inputid" placeholder="Input">
                    </div>
                    
                    <div style="padding-top: 20px; text-wrap: balance;">
                        <label class="rangelabel" for="range_amount">Number of tweets to gather: </label>
                        <input type="range" name="amount" id="range_amount" value="100" min="10" max="1000" step="10"
                            oninput="range_amount_disp.value = range_amount.value">
                        <output id="range_amount_disp" class="rangeamount" ></output> tweets
                    </div>
                    <div class="timebox">
                        <div>
                            <input class="timecheckbox" type="checkbox" name="checkbox" id="checkboxid" value="1" checked="True">
                            <label class="timecheckboxlabel" for="checkboxid">Time Range?</label>
                        </div>
                        <input class="startdate" type="date" name="startdate" id="startdate" value=>
                        <label class="calenderlabel" for="startdate">⇩</label>
                        <input class="enddate" type="date" name="enddate" id="enddate" value=>
                        
                    </div>

                <input class="submitbutton" type="submit" name="" value="Submit" id="submitbutton" disabled="disabled">
    </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------>
    <script>
        function getDate() {
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; 
  var yyyy = today.getFullYear();

  if(dd<10) {
      dd = '0'+dd
  } 

  if(mm<10) {
      mm = '0'+mm
  } 

  today = yyyy + '-' + mm + '-' + dd;
  console.log(today);
  document.getElementById("startdate").value = today;
  document.getElementById("enddate").value = today;
}
window.onload = function() {
  getDate();
};
    </script>

    <script>
        $('#checkboxid').change(function(){
  if($(this).is(':checked'))   
    $('#startdate').prop("disabled", false),
    $('#enddate').prop("disabled", false)
})
    </script>
    <script>
                $('#checkboxid').change(function(){
        if(!$(this).is(':checked'))  
            $('#startdate').prop("disabled", true),
            $('#enddate').prop("disabled", true)
        })
    </script>

<script> 
    anime({ 
        targets: document.querySelector(".rangeamount"),
        innerHTML: 100,
        easing: 'linear',
        round: 1,
        delay: 100 // demo purpose
    }); 
</script>
</body>

</html>